@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.container1{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    padding: 30px;
    margin-top: 20px;
    color: white;
    position: relative;
}
#blob{
    position: absolute;
}
.sticky{
    height: 300px;
    width: 300px;
    padding: 10px;
    border: none;
    outline: none;
    background-image: url('../imgs/gold2.png');
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    color: white;
}
#snip{
    font-family: 'Black Ops One';
    font-size: 50px;
    margin-top: 30px;
    margin-left: 400px;
}
.notes{
    font-size: 30px;
    color: white;
}